<div class="ui vertical fluid tabular menu">
  <a class="<%= render === 'posts' ? 'item active': 'item' %>" href="/admin/posts">文章管理</a>
  <a class="<%= render === 'users' ? 'item active': 'item' %>" href="/admin/users">用户管理</a>
</div>
