<%- include('components/admin-header') %>

<div class="container-fluid admin-body margin-t">
  <div class="row" style="margin-top: 24px;">
    <div class="col-md-2">
      <%- include('components/nav-left', { render: render }) %>
    </div>
    <div class="col-md-10">
      <%- include('components/'+render, { data: data }) %>
    </div>
  </div>
</div>

<%- include('../footer') %>
