<div class="header-nav" id="top">
  <div class="g-nav">
    <a class="item header bounceInDown animated" href="/posts">
      LiuShuang's Blog
    </a>
    <a class="item float-right" href="http://resume.liushuang.info" target="_blank">About</a>
    <a class="item float-right" href="/tags">Tags</a>
  </div>
  <div class="nav-center">
    <div class="site-title">
      Stay Hungry, Stay Foolish.
    </div>
    <div class="input-group input-search hidden animated" id="input-search">
      <input type="text" class="form-control" placeholder="按回车搜索" aria-describedby="basic-addon2">
      <span class="input-group-addon" id="basic-addon2">
        <i class="iconfont icon-search"></i>
      </span>
    </div>
    <div class="site-social-icons">
      <span class="social-icon" id="search" target="blank">
        <i class="iconfont icon-search"></i>
      </span>
      <a class="social-icon" href="https://github.com/liushuangls" target="blank">
        <i class="iconfont icon-GitHub"></i>
      </a>
      <a class="social-icon" href="mailto:liushuangbill@outlook.com" target="blank">
        <i class="iconfont icon-email"></i>
      </a>
    </div>
  </div>
</div>
