<% if (success || error) { %>
<div class="bg-gray" style="padding: 1px;">
  <div class="container" style="margin-top: 24px;">
    <% if (success) { %>
    <div class="alert alert-success" role="alert" style="margin-bottom: 0;">
      <%= success %>
    </div>
    <% } %>

    <% if (error) { %>
    <div class="alert alert-danger" role="alert" style="margin-bottom: 0;">
      <%= error %>
    </div>
    <% } %>
  </div>
</div>
<% } %>
