<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="renderer" content="webkit">
  <title>
    <%= title %>
  </title>
  <meta name="author" content="刘爽">
  <meta name="description" content="JavaScript开发者, 热爱技术。很高兴能在这里与你分享我对技术和生活的思考。">
  <meta name="keywords" content="LiuShuang's Blog, 刘爽的博客, blog, 程序员, 前端, 全栈开发, 技术博客, JavaScript, nodejs, react, vue, python">
  <meta name="description" content="<%= description %>">
  <meta name="keywords" content="<%= keywords %>">
  <link href="https://cdn.bootcss.com/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdn.bootcss.com/animate.css/3.7.0/animate.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://blog-1253581643.file.myqcloud.com/css/atom-one-dark.css">
  <link rel="stylesheet" href="https://blog-1253581643.file.myqcloud.com/css/github-markdown.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://blog-1253581643.file.myqcloud.com/css/iconfont/iconfont.css">
  <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdn.bootcss.com/highlight.js/9.13.1/highlight.min.js"></script>
  <script src="https://blog-1253581643.file.myqcloud.com/js/main.js"></script>
  <!-- 腾讯分析 -->
  <script type="text/javascript" src="http://tajs.qq.com/stats?sId=66150487" charset="UTF-8"></script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script src="https://blog-1253581643.file.myqcloud.com/js/google-analytics.js"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-131433335-1');
  </script>
</head>

<body>
  <!-- 预加载 -->
  <img src="https://blog-1253581643.file.myqcloud.com/img/site/bg4-s.jpg" class="hidden">
  <img src="https://blog-1253581643.file.myqcloud.com/img/site/post-bg.svg" class="hidden">
  <!--[if lt IE 10]>
  <div class="alert-danger" role="alert">
    你的浏览器实在太旧了，请升级你的浏览器
  </div>
  <![endif]-->
