<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="utf-8">
  <title>
    <%= title %>
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="renderer" content="webkit">
  <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/lib/highlight/style/atom-one-dark.css">
  <link rel="stylesheet" href="/css/github-markdown.css">
  <link rel="stylesheet" href="/css/animate.min.css">
  <link rel="stylesheet" href="/css/iconfont/iconfont.css">
  <link rel="stylesheet" href="/css/style.css">
  <script src="/lib/jquery.min.js"></script>
</head>

<body>
  <!-- 预加载 -->
  <img src="/img/site/bg4-s.jpg" class="hidden">
  <img src="/img/site/post-bg.svg" class="hidden">
  <!--[if lt IE 10]>
  <div class="alert-danger" role="alert">
    你的浏览器实在太旧了，请升级你的浏览器
  </div>
  <![endif]-->
