<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>
    <%= blog.title %>
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/lib/semantic.min.css">
  <link rel="stylesheet" href="/css/animate.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="//at.alicdn.com/t/font_665713_xnljy9unxz.css">
</head>

<body>
  <%- include('components/nav') %>
  <%- include('components/notification') %>
