/* ---------- 全局样式 ---------- */
* {
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
  font-family: -apple-system,Verdana,"PingFang SC","Helvetica Neue",Arial,"Hiragino Sans GB","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
  color: #656565;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

.g-container {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.text-c {
  text-align: center;
}

.avatar {
  border-radius: 3px;
  width: 48px;
  height: 48px;
  float: right;
}

.float-right {
  float: right!important;
}

.form-container {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding: 16px;
}

.margin-tb {
  margin-top: 24px;
  margin-bottom: 24px;
}

.margin-t {
  margin-top: 24px;
}

.padding-tb {
  padding-top: 24px;
  padding-bottom: 24px;
}

.bg-gray {
  background-color: #f7f8fa;
}

.icon-item {
  display: inline-block;
  font-size: 16px;
  margin-right: 8px;
}

.icon-item .iconfont {
  font-size: 18px;
}

.back-to {
  display: block;
  margin-top: 10px;
  font-size: 12px;
  font-weight: 500;
  color: #999;
}

.back-to:visited {
  color: #999;
  text-decoration: none!important;
}

.back-to:focus {
  text-decoration: none!important;
}

.back-to:hover {
  color: #563d7c;
  text-decoration: none!important;
}
/* ---------- nav ---------- */

.header-nav, .header-nav-post {
  position: relative;
  display: flex;
  height: 420px;
  clear: both;
  background-image: url('/img/site/bg4-s.jpg');
  background-size: cover;
  background-position: center;
  color: #eee;
  box-shadow: 0 4px 20px rgba(0,38,55,.16);
  background-color: #49b1f5;
}

.header-nav-post {
  height: 360px;
  background-image: url('/img/site/post-bg.svg');
  background-size: auto;
  background-repeat: repeat;
  background-color: #1494fb;
}

.g-nav {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 16px 36px;
}

.header-nav .item {
  display: block;
  height: 100%;
  float: left;
  margin: 0 12px;
  padding: 4px 0;
  color: #eee;
  font-size: 14px;
}

.header-nav .header {
  font-size: 18px;
  font-weight: bold;
}

.header-nav .item:hover {
  border-bottom: 0;
  color: #fff;
}

.header-nav .item+.item:hover {
  border-bottom: 3px solid #eee;
}

.nav-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 95%;
  text-align: center;
}

.site-title {
  font-size: 36px;
  text-shadow: 0.1rem 0.1rem 0.2rem rgba(0,0,0,.15);
  line-height: 1.5;
  color: #fff;
}

.header-nav-post .site-title {
  line-height: 1.4;
  font-weight: bold;
  margin: 24px 0;
}

.site-social-icons {
  text-align: center;
  padding: 8px 0;
}

.social-icon {
  cursor: pointer;
}

.social-icon .iconfont {
  color: #eee;
  text-shadow: 0.1rem 0.1rem 0.2rem rgba(0,0,0,.15);
  font-size: 24px;
  margin: 0 6px;
}

.social-icon .iconfont:hover {
  color: #fff;
}

/* --- post-item post --- */
.post-content {
  min-height: 500px;
}

.post-item {
  width: 100%;
  margin-bottom: 16px;
  padding: 30px 20px;
  background-color: #fff;
  border: 1px solid #e7eaf1;
  border-radius: 3px;
  box-sizing: border-box;
  box-shadow: 0 1px 3px rgba(0,37,55,.06);
}

.post-title {
  color: #4e4e4e;
  font-size: 24px;
  line-height: 32px;
  margin: 0;
}

.post-date {
  color: #a9b0bc;
  display: inline-block;
  font-size: 14px;
  letter-spacing: .6px;
  line-height: 22px;
}

.post-meta {
  height: 22px;
  margin-top: 16px;
}

.post-excerpt {
  margin-top: 8px;
  font-size: 16px;
  line-height: 26px;
}

.post-tags {
  float: left;
}

.post-tag {
  display: inline-block;
  width: auto;
  height: 22px;
  padding: 0 8px;
  font-size: 14px;
  color: #a6abb2;
  line-height: 22px;
  box-sizing: border-box;
  box-shadow: 0 0 0.6px #d5dae1;
  border-radius: 2px;
  background-color: #fafafa;
  cursor: pointer;
  margin-right: 2px;
  transition: .2s;
}

.post-info {
  float: right;
  color: #a9b0bc;
  font-size: 14px;
  letter-spacing: .6px;
  line-height: 22px;
}

/* --- post-dir ---*/
.post-dir {
  position: relative;
  padding: 0 15px;
  border-left: 1px solid rgba(0,0,0,.15);
}

.post-dir ul {
  max-height: 500px;
  overflow: auto;
}

@media (max-width: 991px) { 
  .post-dir {
    display: none;
  }
}

.post-dir .dir-title {
  font-weight: bold;
  border: none;
  padding: 8px 12px;
  font-size: 16px;
}

.post-dir .dir-item a {
  display: block;
  line-height: 1.8;
  color: #333;
}

.post-dir .dir-item a:hover {
  color: #000;
}

.post-dir a:hover {
  text-decoration: underline;
}

.post-dir .dir-h1 {
  font-size: 16px;
  list-style: none;
}

.post-dir .dir-h2,
.post-dir .dir-h3 {
  font-size: 14px;
  margin-left: 24px;
  list-style: circle;
}

.post-dir .dir-h4,
.post-dir .dir-h5,
.post-dir .dir-h6 {
  display: none;
}

/* --- comments ---*/
.comments-content {
  padding-bottom: 24px;
  margin-bottom: 24px;
  margin-top: 24px;
  background-color: #f7f8fa;
}

.comments-content .iconfont {
  font-size: 18px;
}

.comments-none {
  text-align: center;
  font-size: 18px;
  padding: 16px;
}

.comments-title {
  border-bottom: 2px solid #e7e9ee;
}

.comments-form {
  margin-top: 16px;
}

.comments-item {
  display: flex;
  padding: 10px;
  border-bottom: 1px solid #e2e2e2;
}

.comments-avatar {
  width: 48px;
  margin-right: 10px;
}

.comments-avatar img {
  width: 100%;
  border-radius: 10px;
}

.comments-item-content {
  flex: 1;
}

.comments-info {
  padding: 4px 0;
}

.comments-info .name {
  color: gray;
  margin-right: 8px;
}

.comments-info span {
  font-size: 14px;
  line-height: 1;
}

.comments-info .date {
  color: #ccc;
}

.comments-info .number {
  font-size: 9px;
  line-height: 9px;
  font-weight: 500;
  border-radius: 10px;
  display: inline-block;
  background-color: #f0f0f0;
  color: #ccc;
  padding: 2px 5px 2px 5px;
  margin-top: 4px;
}

.comments-info .reply {
  margin-right: 8px;
  cursor: pointer;
}

.comments-name {
  font-size: 18px;
}

/* --- paging --- */
.post-content .pagination {
  margin: 6px 0;
}

.post-content .pagination li a {
  padding: 4px 9px;
}

.post-list .navigation {
  text-align: center;
}

/* --- tags ---*/
.tags-content {
  max-width: 600px;
  margin: 0 auto;
}

.tags-content a {
  display: inline-block;
  margin: 8px;
  font-size: 18px;
}

/* --- input-search --- */
.input-search {
  max-width: 400px;
  margin: 0 auto;
}
