<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>
    <%= title %>
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link href="https://cdn.bootcss.com/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://blog-1253581643.file.myqcloud.com/css/style.css">
  <link rel="stylesheet" href="https://blog-1253581643.file.myqcloud.com/css/admin-style.css">
</head>

<body>
  <header class="admin-header">
    <a href="/admin/posts">Home</a>
  </header>
  <div class="container">
    <%- include('../../components/notification') %>
  </div>
