<ul class="nav nav-pills nav-stacked">
  <li role="presentation" class="<%= render === 'posts' ? 'active': '' %>">
    <a href="/admin/posts">文章管理</a>
  </li>
  <li role="presentation" class="<%= render === 'users' ? 'active': '' %>">
    <a href="/admin/users">用户管理</a>
  </li>
</ul>
