<div class="header-nav">
  <div class="g-nav">
    <a class="item header bounceInDown animated" href="/posts">
      LiuShuang's Blog
    </a>
    <a class="item float-right" href="/login">About</a>
    <a class="item float-right" href="/register">Tags</a>
  </div>
  <div class="nav-center animated fadeIn">
    <div class="site-title">
      Stay Hungry, Stay Foolish.
    </div>
    <div class="site-social-icons">
      <a class="social-icon" href="https://github.com/liushuang2016" target="blank">
        <i class="iconfont icon-GitHub"></i>
      </a>
      <a class="social-icon" href="https://weibo.com/" target="blank">
        <i class="iconfont icon-weibo"></i>
      </a>
      <a class="social-icon" href="mailto:liushuangbill@outlook.com" target="blank">
        <i class="iconfont icon-email"></i>
      </a>
      <a class="social-icon" href="https://twitter.com/" target="blank">
        <i class="iconfont icon-twitter"></i>
      </a>
    </div>
  </div>
</div>
